<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>New York</string>
		<key>state</key>
		<string>NY</string>
		<key>cityText</key>
		<string>This is the description of the city that goes in the tex view just testing.</string>
		<key>cityImage</key>
		<string>acolon.png</string>
	</dict>
	<dict>
		<key>city</key>
		<string>Los Angeles</string>
		<key>state</key>
		<string>CA</string>
		<key>cityText</key>
		<string>This the second item&apos;s textview</string>
		<key>cityImage</key>
		<string>piedirosso.png</string>
	</dict>
	<dict>
		<key>city</key>
		<string>Chicago</string>
		<key>state</key>
		<string>IL</string>
		<key>cityText</key>
		<string>here is the text view description for the third item.</string>
		<key>cityImage</key>
		<string>acolon.png</string>
	</dict>
</array>
</plist>
